<!DOCTYPE html>

<html>

  <head>
    <title>Contato | About.ME</title>
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="shortcut icon" href="/images/lion.png">
  </head>

  <body>
    
    <header>
      <div class="header-container">
        <a href="/views/home.html">Home</a>
        <a href="/views/programming.html">Programação</a>
        <a href="/views/astronomy.html">Astronomia</a>
        <a href="/views/economy.html">Economia</a>
        <a id = "contact" href="/views/contact.html">Contate-me 📱</a>
    </header>

    <div class="contact-title">
      <h1 id = "machine-title">Contato</h1>
    </div>

    <div class="contact-info">
      <h1>Se interessou pelo meu trabalho ou quer só bater um papo sobre TI?</h1>
      <h2>Contate-me pelas redes sociais</h2>
    </div>

      <div class="contact-social-medias">

        <div class= "gmail">
          <img id = "image-gmail" src="/images/gmail.png" alt="g-mail">
          <div class="gmail-info">
            <h1>mathwachcruz@gmail.com</h1>
          </div>
        </div>

        <div class="linkedin">
          <img id = "image-linkedin" src="/images/linkedin.png" alt="Linkedin">
          <div class="linkedin-info">
            <a href="https://www.linkedin.com/in/matheuscruzsoftwareengineer/" target="_blank">Ver perfil</a>
          </div>
        </div>

        <div class= "github">
          <img id = "image-github" src="/images/github.png" alt="Github">
          <div class="github-info">
            <a href="https://github.com/mathwcruz" target="_blank">Ver perfil</a>
          </div>
        </div>

      </div>

    <footer>
      <p>Todos os direitos reservados a Matheus da Cruz</p>
    </footer>

    <script src="/javaS/scripts.js"></script>

  </body>

</html>